<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IImageAnalysisService" />
                <binding name="BasicHttpBinding_IImageAnalysisService1" />
                <binding name="BasicHttpBinding_IImageAnalysisService2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9999/Analysis.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IImageAnalysisService"
                contract="ServiceReference1.IImageAnalysisService" name="BasicHttpBinding_IImageAnalysisService" />
            <endpoint address="http://192.168.1.34:9990/Analysis.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IImageAnalysisService1"
                contract="ServiceReference2.IImageAnalysisService" name="BasicHttpBinding_IImageAnalysisService1" />
            <endpoint address="http://192.168.1.30:8682/Analysis.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IImageAnalysisService2"
                contract="ServiceReference3.IImageAnalysisService" name="BasicHttpBinding_IImageAnalysisService2" />
        </client>
    </system.serviceModel>
</configuration>