<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--定时器_搜索引擎检测时间，单位为秒-->
  <add key="Timer_SC_Interval" value="60"/>
  <!--服务参数-->
  <!--<add key="SC_Url_Host" value="http://208.43.0.19:9200"/>-->
  <!--<add key="SC_Url_Host" value="http://192.168.1.30:9200"/>-->
  <add key="SC_Url_Get" value="http://208.43.0.19:9200/_cat/health"/>
  <add key="SC_Url_Check" value="http://174.36.6.99:8001/products/GetSearchProduct/?searchModel=web-search"/>
  <add key="SC_Product_NO" value="400000"/>
  <!-- 重启搜索服务api -->
  <add key="SC_ReAPI_Host" value="http://208.43.0.19:8087/"/>
  <add key="SC_ReAPI_Post" value="api/Process"/>
  <add key="SC_ReAPI_Request" value="api/Request?url="/>
  <add key="SC_KillAPI_Post" value="api/KRProcess"/>
  <add key="SC_ServerName" value="elasticsearch-service-x64"/>
  <add key="SC_ReAPI_User" value="lake"/>
  <!--网站服务器cpu与内存监控 -->
  <add key="SC_Server_Host" value="http://67.228.179.171:12651/"/>
  <add key="SC_CPU_Get" value="api/CupTrace/"/>
  <add key="SC_Memory_Get" value="api/MemoryTrace/"/>
  <!--报警界限:Cpu使用达到XX以上 -->
  <add key="WarnCpu" value="95"/>
  <!--报警界限:可以使用内存小于xx -->
  <add key="WarnMenory" value="10"/>
  <!--电脑分配点-->
  <add key="ClientId" value="C30"/>
</appSettings>