<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--服务名称 -->
  <add key="ServicesName" value="elasticsearch-service-x64"/>
  
  <!--加密信息 -->
  <add key="SC_ReAPI_User" value="lake"/>
</appSettings>