<?xml version="1.0"?>
<ioc>
  <components>
    <component
                type="RedisWindowsService.Test, RedisWindowsService"
                service="RedisWindowsService.ITest, RedisWindowsService">
    </component>
    <component type="Garlic.Data.Providers.Redis.RedisProviders, Garlic.Data.Providers.Redis"
       service="Garlic.Data.Providers.Redis.IRedisProviders, Garlic.Data.Providers.Redis">
      <parameters>
        <parameter name="readWriteHosts" value="888888@192.168.1.30:6379"></parameter>
        <parameter name="readOnlyHosts" value="888888@192.168.1.30:6379"></parameter>
        <!--最大同时读写的线程数-->
        <parameter name="MaxReadPoolSize" value="5"></parameter>
        <parameter name="MaxWritePoolSize" value="5"></parameter>
      </parameters>
    </component>
    <component type="Garlic.Data.Proc.DefaultDbProvider,Garlic.Data.Proc"
        service="Garlic.Data.Proc.IDbProvider, Garlic.Data.Proc">
    </component>
  </components>
  <modules>
    <module type="RedisWindows.Logic.RedisLogicModule, RedisWindows.Logic"/>
    <module type="Garlic.Data.BLToolkit.BLToolkitModule, Garlic.Data.BLToolkit"/>
    <module type="Garlic.Common.Serialization.JsonNet.JsonNetModule, Garlic.Common.Serialization.JsonNet"/>    
  </modules>
</ioc>


